{% extends '_shared/_layout.twig' %}

{% block main %}

	<!-- Homes for you -->
	<div
		class="container c-section ">
		<!-- todo: laad de titel en subtext in via de entry -->
		<h2 class="c-sectiontitle">{{entry.title}}</h2>
		<p class="c-sectionsubtitle">{{entry.subtext}}</p>

		<div
			class="row g-4 justify-content-center c-sectioncontent">
			<!-- category card -->
			<div
				class="col-12 col-sm-6 col-lg-4 c-categoriescard">
				<!-- todo: laad de titel en image in via de entry -->
				<div class="c-categoriesinfo">
					<h3 class="c-categoriestitle">{{ entry.title}}</h3>
					<p class="">2 properties</p>
				</div>
				<div class="c-categoriesimgcontainer">
					<img src="{{ entry.cover[0].url }}" alt="" class="c-categoriesimg c-categories__img--page">
				</div>
			</div>

			<!-- todo: roep alle entries van de section 'houses' op die 'relatedTo' de entry zijn. Loop over deze entries en vul de immo-cards dynamisch in (zie templates/index.twig hiervoor) -->
			{% set houses = craft.entries.section('house').relatedTo(entry).limit(3).all() %}
			{% for house in houses %}
				<!-- immo card -->
				<div
					class="col-12 col-sm-6 col-lg-4 ">
					<!-- todo: link de card met de detail page  -->
					<a href="{{ house.url }}" class="c-immo-card">
						<div class="c-immo-card__imgcontainer">
							{% set status = house.state %}

							<img
							src={{house.cover.one().url()}} alt="" class="c-immo-card__img">
							<!-- todo: Zorg dat de kleur veranderd dmv c-immo-card__tag--rent toe te passen wanneer iets for rent staat  -->
							<div class="c-immo-card__tag {% if status == 'rent' %}
																																																																																																																																																									    c-immo-card__tag--rent
																																																																																																																																																									{% else %}
																																																																																																																																																									    c-immo-card__tag--sale
																																																																																																																																																									{% endif %}">
								<p>For
									{{house.state}}</p>
							</div>

						</div>
						<div class="c-immo-card__infocontainer">
							<div class="c-immo-card__heading">
								<h3 class="c-immo-card__title">{{house.title}}</h3>
								<!-- todo: roep hier het amount op -->
								<p class="c-immo-card__price">{{ house.price | money }}</p>
							</div>
							<div class="c-immo-card__location">
								<img src="{{url('img/icons/location.svg')}}" alt="">
								<p>
									{{house.location}}
								</p>

							</div>

							<!-- todo: loop hier over de waarder van de details van het pand -->
							{% set tableData = house.details %}
							{% for detail in tableData %}

								<div class="c-immo-card__details">
									<div class="c-immo-card__icons">
										<img src="{{url('img/icons/bed.svg')}}" alt="">

										<p>
											{{detail.bedrooms}}
											beds
										</p>
									</div>
									<div class="c-immo-card__icons">
										<img src="{{url('img/icons/bath.svg')}}" alt="">
										<p>{{detail.bathrooms}}
											baths
										</p>
									</div>
									<div class="c-immo-card__icons">
										<img src="{{url('img/icons/sqf.svg')}}" alt="">
										<p>{{detail.size}}
											m²
										</p>
									</div>
								</div>
							{% endfor %}

						</div>
					</a>
				</div>

			{% endfor %}

		</div>

	</div>

	<!-- locations -->
	<div class="container c-section">
		<h2 class="c-section__title">Locations</h2>
		<p class="c-section__subtitle">Already found your ideal location?</p>

		<div class="row justify-content-center c-section__content c-locations text-center">
			<div class="col-12 col-sm-3 col-lg-2">
				<ul class="c-locations__list">
					<li class=" c-locations__list-item pb-2">
						<a class="c-locations__link " href="#">
							Gent
						</a>
					</li>
					<li class=" c-locations__list-item pb-2">

						<a class="c-locations__link " href="#">
							Kortrijk
						</a>
					</li>
					<li class="c-locations__list-item pb-2">
						<a class="c-locations__link " href="#">
							Brussel
						</a>
					</li>
					<li class="c-locations__list-item pb-2">

						<a class="c-locations__link " href="#">
							Lokeren
						</a>
					</li>
				</ul>
			</div>
			<div class="col-12 col-sm-3 col-lg-2">
				<ul class="c-locations__list">
					<li class="c-locations__list-item pb-2">
						<a class="c-locations__link " href="#">
							Antwerpen
						</a>
					</li>
					<li class="c-locations__list-item pb-2">

						<a class="c-locations__link " href="#">
							Gent
						</a>
					</li>
					<li class="c-locations__list-item pb-2">
						<a class="c-locations__link " href="#">
							Gent
						</a>
					</li>
					<li class="c-locations__list-item pb-2">

						<a class="c-locations__link " href="#">
							Gent
						</a>
					</li>
				</ul>
			</div>
			<div class="u-hidden col-sm-3 col-lg-2">
				<ul class="c-locations__list">
					<li class="c-locations__list-item pb-2">
						<a class="c-locations__link " href="#">
							Gent
						</a>
					</li>
					<li class="c-locations__list-item pb-2">

						<a class="c-locations__link " href="#">
							Gent
						</a>
					</li>
					<li class="c-locations__list-item pb-2">
						<a class="c-locations__link " href="#">
							Gent
						</a>
					</li>
					<li class="c-locations__list-item pb-2">

						<a class="c-locations__link " href="#">
							Gent
						</a>
					</li>
				</ul>
			</div>
			<div class="u-hidden col-sm-3 col-lg-2">
				<ul class="c-locations__list">
					<li class="c-locations__list-item pb-2">
						<a class="c-locations__link " href="#">
							Gent
						</a>
					</li>
					<li class="c-locations__list-item pb-2">

						<a class="c-locations__link " href="#">
							Gent
						</a>
					</li>
					<li class="c-locations__list-item pb-2">
						<a class="c-locations__link " href="#">
							Gent
						</a>
					</li>
					<li class="c-locations__list-item pb-2">

						<a class="c-locations__link " href="#">
							Gent
						</a>
					</li>
				</ul>
			</div>

		</div>

	</div>


{% endblock %}
