{% extends '_shared/_layout.twig' %}

{% block main %}

	<!-- locations -->
	<div class="container c-section">
		{% set allLocations = craft.entries.section('locations').level(1).one() %}
		<h2 class="c-section__title">{{ allLocations.title }}</h2>
		<p class="c-section__subtitle">{{ allLocations.subtext }}</p>


		<div class="row justify-content-center c-section__content c-locations text-center">
			{% set regions = allLocations.children.all() %}
			{% for region in regions %}
				<div class="col-12 col-sm-3 col-lg-2">
					<ul class="c-locations__list">
						<h3>{{ region.title }}</h3>
						{% set cities = region.children.all() %}
						{% for city in cities %}
							<li class=" c-locations__list-item pb-2">
								<a class="c-locations__link " href="{{city.url}}">
									{{ city.title }}
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			{% endfor %}

		</div>


	{% endblock %}
